<!DOCTYPE html>
<html>
<head>
    <title>chalkboard</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto:100,500' rel='stylesheet' type='text/css'>
    <!-- <meta http-equiv="refresh" content="30"> -->
    <script type="text/javascript">
    function get_action(form) {
        // form.action = form_action;
        console.log(form.action);
        }
    function compute_color(ip){
        // ip is a string of the ip address
        // only the last octet will vary
        // usu from 0-255 but DHCP on t-r
        // only allocates 100-199
        var addr = ip.split(".");
        console.log(addr[3]);
    }
    </script>

    <style type="text/css">
        body,html {
            font-family: 'Roboto', sans-serif;
            font-size:2em;
            font-weight: 100;
            margin:100px auto;
            text-align: center;
        }
        strong {
            font-weight: 500;
            display: block;
            margin:20px 0px 0px 0px;
        }
    </style>
</head>
<body>

{% for k in keywords %}
<strong><style type="text/css" >{{k.split('|')[0]}}</style></strong>

{% end for %}


<form onsubmit="submit" method="POST">
    <label>MSG: <input type="text" name="utterance" value="write here " /></label>
<input type="submit" value="Submit" />
</form>

</body>
</html>